body {
  margin: 0;
  color: #ffffff;
  background-color: #222222;
  font-family:  'Roboto', 'Arial', sans-serif;
}

main {
  display: grid;
  max-width: 1100px;
  grid-template-areas:  "header header"
                        "question question"
                        "options aboutbird"
                        "ctrlkey ctrlkey";
  grid-template-rows: 1fr 1fr 2fr 50px;
  grid-template-columns: 1fr 1fr;
  margin: 1rem auto;
  grid-gap: 1rem;
}

@media screen and (max-width: 756px) {
  main {
    grid-template-areas:  "header"
                          "question"
                          "options"
                          "aboutbird"
                          "ctrlkey";
    grid-template-rows: 1fr 1fr 2fr 2fr 50px;
    grid-template-columns: 1fr;
  }
}
